*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --colorRojoOscuro: #780000;
    --colorRojoClaro: #C1121F;
    --colorBlanco: #ffffff;
    --colorAzulOscuro: #003049;
    --colorAzulClaro: #669BBC;
    --Noto-sans: 'Noto Sans', sans-serif;
    --Manor-mono: 'Major Mono Display', monospace;
    --Monserrat: 'Montserrat', sans-serif;
}


/*HEADER*/

header{
    background-color: var(--colorAzulOscuro);
    width: 100%;
    height: 12vh;
    line-height: 12vh;
    top: 0;
    position: sticky;
    transition: background-color 0.5s;
    z-index: 1;
}

.sticky{
    background-color: var(--colorBlanco);
}
#text-header{
    color: var(--colorAzulOscuro);
    transition: color 0.5s;
}
.text-header{
    color: var(--colorAzulOscuro);
    transition: color 0.5s;
}


header .nav-header .nav-header-item:hover .nav-header-button {
    background-color: var(--colorAzulClaro);
    transition: background-color 0.3s ease;
  }
  
  /* Estilos para el color del texto en estado :hover */
  header .nav-header .nav-header-item:hover .text-header {
    color: var(--colorBlanco); /* Cambia al color deseado al hacer hover */
    transition: color 0.3s ease;
  }
  
  /* Estilos de fondo para los botones cuando el scroll es mayor a 50 */
  header.sticky .nav-header .nav-header-item:hover .nav-header-button {
    background-color: var(--colorAzulClaro); /* Cambia al color deseado al hacer scroll */
    transition: background-color 0.3s ease;
  }
  
  /* Estilos para el color del texto cuando el scroll es mayor a 50 */
  header.sticky .nav-header .nav-header-item:hover .text-header {
    color: var(--colorBlanco); /* Cambia al color deseado al hacer scroll */
    transition: color 0.3s ease;
}


header .nav-header{
    flex-wrap: nowrap;
}

header .nav-header #nav-header-image{
    display:flex;
    float: left;
    margin-top: 1vh;
    width: 250px;
    height: 11vh;
}

header .nav-header #nav-header-image a img{
    width: 100%;
}

header .nav-header .header-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
}


header .nav-header .nav-header-item:not(:first-child){
    width: 70px;
    text-align: center;

}


header #text-header{
    font-family: var(--Monserrat);
    font-weight: 200;
    font-size: 20px;
    color: var(--colorBlanco);
}

header .nav-header .nav-header-item button{
    background-color: var(--colorAzulOscuro);
    all: unset;
}

header .nav-header .nav-header-item .text-header{
    text-decoration: none;
    color: var(--colorBlanco) ;
    font-family: var(--Monserrat);
    font-weight: 700;
    font-size: 18px;
}


/*CONTENIDO PRINCIPAL*/
.mainContent{
    display: flex;
    flex-wrap: nowrap;
    background-image: url(./vers1.jpg);
    background-size: cover; /* Puedes ajustar esta propiedad según tus necesidades */
    background-position: center; /* Otra propiedad para ajustar la posición de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.mainContent .nav-section{
    width: 80%;
    float: left;
}

.mainContent .nav-section button{
    margin-top: 35vh;
    margin-inline: 4rem;

    background: none;
    border: none;
    /* Anula otros estilos como el color del texto y el subrayado */
    color: inherit;
    text-decoration: none;
}

.mainContent .nav-section button a{
    
}

.mainContent .nav-section button a img{

}

.mainContent .contentSection{
    float: right;
}



